---
layout: default
title: Team Pets
suppress_header: true
extra_css:
  - team.css
team_members:
---
.wrapper
  .container
    .team-head
      %h1
        MEET OUR
        %b PETS
    .row.team-row
      - names = data.pets.map{|pet| pet.name.parameterize}
      - duplicate_names = names.select{|name| names.count(name) > 1}
      - data.pets.each_with_index do |pet, index|
        - anchor = pet.name.parameterize
        - if duplicate_names.include?(pet.name)
          - anchor = "#{anchor}-#{index}"
        = partial "includes/team/member", locals: {member: pet, is_pet: true, anchor: anchor}
      = link_to '', '#close-modal', class: 'modal-overlay'
