---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab Enterprise Edition Premium vs. Bitbucket Server | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_eep_vs_bitbucket_server, product_one: competitors.gitlab_eep, product_two: competitors.bitbucket_server, key_one: :gitlab_eep, key_two: :bitbucket_server }
